.Rproj.user
.Rhistory
.RData
.Ruserdata
docs/
Meta/
Newstuff/
*.docx
vignettes/*.html
vignettes/*.R
vignettes/EGRET.R
vignettes/Enhancements.R
vignettes/TrendsByMonth.R
vignettes/WRTDSK.R
vignettes/rResid.R
vignettes/parallel.R
vignettes/*_cache
docs
