export(blankTime)
export(boxConcMonth)
export(boxConcThree)
export(boxQTwice)
export(boxResidMonth)
export(calculateMonthlyResults)
export(censoredSegments)
export(estCrossVal)
export(estDailyFromSurfaces)
export(estDailyWithoutNormalization)
export(estSurfaces)
export(flowDuration)
export(fluxBiasMulti)
export(fluxBiasStat)
export(generalAxis)
export(genericEGRETDotPlot)
export(getJulian)
export(logPretty1)
export(logPretty3)
export(makeAnnualSeries)
export(modelEstimation)
export(multiPlotDataOverview)
export(plot15)
export(plot1of15)
export(plotConcHist)
export(plotConcPred)
export(plotConcQ)
export(plotConcQSmooth)
export(plotConcTime)
export(plotConcTimeDaily)
export(plotConcTimeSmooth)
export(plotContours)
export(plotDiffContours)
export(plotFlowSingle)
export(plotFluxHist)
export(plotFluxPred)
export(plotFluxTimeDaily)
export(plotFour)
export(plotFourStats)
export(plotLogConcPred)
export(plotLogConcQ)
export(plotLogConcQSmooth)
export(plotLogConcTime)
export(plotLogFluxPred)
export(plotLogFluxQ)
export(plotQTimeDaily)
export(plotResidPred)
export(plotResidQ)
export(plotResidTime)
export(plotSDLogQ)
export(printFluxUnitCheatSheet)
export(printSeries)
export(printqUnitCheatSheet)
export(runSurvReg)
export(saveResults)
export(selectDays)
export(setPA)
export(setPAx)
export(setSeasonLabel)
export(setSeasonLabelByUser)
export(setupYears)
export(surfaceIndex)
export(tableChange)
export(tableChangeSingle)
export(tableFlowChange)
export(tableResults)
export(triCube)
export(yPretty)
exportClasses(fluxUnit)
exportClasses(monthLabel)
exportClasses(qUnit)
import(methods)
import(survival)
importFrom(fields,interp.surface)
